<div>
  <h2>Addition</h2>
</div>

<div class="container">
  <div class="row shadow-sm p-3 mb-1 bg-red rounded">
    <div class="col-6 text-center align-middle bg-lightblue middle">
      <button class="btn" *ngFor="let i of [].constructor(qList[0])"></button>
    </div>
    <div class="col-3 num text-right"></div>
    <div class="col-3 num text-center">{{qList[0]}}</div>
  </div>
  <div class="row shadow-sm p-3 mb-1 bg-blue rounded">
    <div class="col-6 text-center bg-lightgreen">
      <button class="btn" *ngFor="let i of [].constructor(qList[1])"></button>
    </div>
    <div class="col-3 num text-right">+</div>
    <div class="col-3 num text-center">{{qList[1]}}</div>
  </div>
  <div class="row shadow-sm p-3 mb-1 bg-blue rounded">
    <div class="col-6 text-right">
      <button class="button-next" (click)="getNew()">New</button>
    </div>
    <div class="col-6 text-right">
      <button class="button" *ngFor="let n of aList" (click)="checkAnswer(n)">{{n}}</button>
      <label class="alert alert-info lb-lg" id="comment"></label>
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
