.fakeimg {
  height: 200px;
  background: #aaa;
}

.jumbotron {
  /* background-color: white; */
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.navbar-custom {
  /* color: #FFFFFF; */
  background-color: rgb(22, 72, 179);
}

.footer {
  padding-top: 2%;
  padding-bottom: 2%;
}

.img {
  width: 100%;
  height: auto;
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
